/* All styles for your Card Components live here */

.cardContainer{
   margin-left:90px;

}

.cardBanner{
    width:100%;
    max-width:600px;
}

.web{
    color:lightgray;
}

.cardContent{
  width:80%;
    
}