/* 
  Write your styles/CSS for App.js here and import into the component that you need 
  IF you'd like to attempt to use less you'll have to research how to do this with Create React App
*/


.outerContainer{
   width:800px;
   margin:0 auto;
   display:flex;
   flex-direction: column;
   -webkit-box-shadow: 3px 21px 26px 8px rgba(207,201,207,1);
   -moz-box-shadow: 3px 21px 26px 8px rgba(207,201,207,1);
   box-shadow: 3px 21px 26px 8px rgba(207,201,207,1);
}